*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family:sans-serif;
}
.logo
{
    display: flex;
    align-items: center;
}
.logo img
{
    width: 60px;
}
nav
{
    z-index: 1 !important;
    position: relative;
}
.logo .textLogo
{
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
}
.logo .textLogo h4
{
    font-size: 17px;
    line-height: .5;
}
.row
{
    align-items: center;
}
a
{
    color: #fff !important;
    text-decoration: none;
}
.links
{
    overflow: auto;
}
ul.lists
{
    display: flex;
    overflow: auto;
    list-style: none;
    justify-content: end;
    overflow: hidden;
    vertical-align: middle;
}
ul.lists a
{
    padding: 4px 25px;
    margin: 0 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
ul.lists a.active 
{
    color: #009ad8 !important;
    border: 3px solid #009ad8;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
ul.lists a:hover
{
    color: #009ad8 !important;
    border: 3px solid #009ad8;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.header
{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    min-height: 350px;
    overflow: auto;
}
.forms
{
    margin-top: 75px;
    color: #fff !important;
    position: relative;
}
.forms input[type="text"]
{
    padding: 17px 15px;
    border-radius: 25px;
    outline:none ;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: white !important;
}
.forms button
{
    position: absolute;
    right: 1px;
    top: 5px;
    padding: 12px 43px;
    background-color: #009ad8;
    color: #fff;
    text-transform: capitalize;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    outline: none;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
}
.cards .box-card
{
    width: 33.33%;
}
.card1
{
    background-color: #323544;
    overflow: auto;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
    width: 100%;
}
.card1 .topBox
{
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
}
.card1 .topBox p
{
    margin-top: 12px;
}
.icon1
{
    display: flex;
    padding-left: 20px;
}
.card1 .bodyBox
{
    padding: 25px 0 15px 0;
}
.card1 .bodyBox > p
{
    padding-left: 16px;
}
.card1 .bodyBox img
{
    width: 55px;
}
.card1 .bodyBox h2
{
    font-size: 70px;
    font-weight: 900;
    padding-left: 16px;
}
.icon1 img
{
    width: 20px !important;
    height: 20px;
    margin-right: 7px;
}
.card2
{
    background-color: #262936;
    width: 100%;
}
.card2 .topBox
{
    background-color: #222530;
}
.card2 .topBox
{
    padding:2px 0px;
}
.card2 .topBox p
{
    margin-top: 7px;
}
.infoBoxtext
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.infoBoxtext img
{
    width: 70px;
    margin-bottom: 20px;
    text-align: center;
}
.card3
{
    background-color: #323544;
    width: 100%;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
}
.card3 .topBox
{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 0 ;
}
.card3 .topBox p
{
    margin-top: 7px;
}
footer
{
    background-color: #323544;
}
footer .send
{
    position: relative;
}
footer .send input
{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
footer .send button
{
    background-color: #009ad8;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: absolute;
    right: 3px;
    top: 12px;
}
footer .send p
{
    font-size: 14px;
    margin-top: 25px;
}
.iconsFooter
{
    margin-left: 50px;
}
.iconsFooter svg
{
    cursor: pointer;
    color: #009ad8;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.iconfoot 
{
    width: 40px;
    height: 40px;
    background-color: #212529;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.iconsFooter .iconfoot:hover svg
{
    color: #fff;
}
.iconsFooter .iconfoot:hover
{
    background-color: #009ad8;
}
.iconMenu
{
    color: #009ad8;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    line-height: 1.3;
    float: right;
    text-align: center;
    display: none;
}
.iconMenu:hover
{
    border-radius: 7px;
    border: 2px solid #009ad8;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
@media(max-width:1200px)
{
    ul.lists a
{
    padding: 4px 25px;
    margin: 0 10px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
}
@media(max-width:992px)
{
    .links
    {
        position: relative;
    }
    ul.lists
    {
        flex-direction: column;
        position: relative;
        text-align: center;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: #212529;
        right: 0;
        left: 0;
        top: -270px;
        z-index: -1;
        transition: .5s linear;
        padding: 30px 0;
        -webkit-transition: .5s linear;
        -moz-transition: .5s linear;
        -ms-transition: .5s linear;
        -o-transition: .5s linear;
}
ul.action
{
    top: 130px;
}
    ul.lists a
    {
        margin-top: 10px;
    }
    .logo .textLogo
{
    font-size: 11px;
    padding-left: 11px;
    padding-top: 15px;
}
.cards
{
    flex-direction: column;
}
.iconMenu
{
    display: block;
}
.box-card
{
    width: 100% !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
}
@media(max-width:991px)
{
    .iconsFooter
    {
        margin-left: 0 !important;
    }
}
@media(max-width:330px)
{
    .logo .textLogo
    {
        font-size: 8px;
        padding-left: 11px;
        padding-top: 15px;
    }
    .box-card p
    {
        font-size: 11px;
    }
    .box-card h2
    {
        font-size: 45px !important;
    }
}